#event {
	margin-bottom: 25px;
}

#event #facebook {
	background-color: rgb(72,104,173);
}

#event #walmart {
	padding: 15px;
	background-color: white;
}

#event #deloitte {
	padding: 50px;
	background-color: black;
}

#event #amazon {
	padding: 10px;
	padding-top: 25px;
	background-color: white;
}

#event #starbucks {
	padding: 10px;
	background-color: white;
}

#event #paypal {
	padding: 10px;
	background-color: white;
}

#event #usaa {
	padding: 10px;
	background-color: white;
}

#event #godaddy {
	background-color: white;
}

#event #workiva {
	background-color: white;
}

#event #statefarm {
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white;
}

#event #google {
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: white;
}

#event #goldmansachs {
	background-color: white;
}

#event #americanexpress {
	padding: 10px;
	background-color: white;
}

#event #flashy {
	font-family: 'RopaSansPro-Medium';
}