#main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
    min-height: 100vh;
    flex-wrap: wrap;
}

#main #logo {
	max-height: 150px;
}

#main #title {
	font-family: 'RopaSansPro-Light';
	font-size: 2em;
	text-align: center;
	padding: 10px;
}

#main #bold {
	font-family: 'RopaSansPro-Medium';
}

#main #statistic {
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center;
}

/*
	Credit: GEOFF GRAHAM
	from: css-tricks.com/snippets/css/typewriter-effect/

	Actually, I am not using this because it breaks on mobile. I had to use javascript.
*/

#main #typewritter {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	animation: 
		typing 3.5s steps(66),
		blink-caret .85s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
}