html, body {
    height: 100%;
    width: 100%;
    font-family: 'myFont'
}
/* font */
@font-face {
    font-family: 'myFont';
    src: url(../expressway.ttf);
}

.para-section {
    padding: 50px 0;
    width: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.img-container {
    position:relative;
    padding-top:100%;
}
.snug-bottom {
    position: absolute;
    bottom: 2px;
}
/* paralax definitions */
.top {
    background: url(../img/geometry_.jpg) no-repeat center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top h3 {
    font-size: 30px;
    color: white;
}

.mid {
    background: url(../img/Blueprint-Background.jpg) no-repeat center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mid h1 {
    color: white;
}
.mid h2 {
    color: white;
}
.mid h3 {
    color: white;
}



.foot {
    background: url(../img/black.jpg);
    position: relative;
    width: 100%;
}
.foot p {
    font-size: 15px;
    color: #FFFFFF;
}

.sep {
    background: url(../img/offwhite.jpg);
    position: relative;
    width: 100%;
}
.sep hr {
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#cccccc;
    height: 1px;
    margin-top:15px;
}
.sep h4 {
    color: #777777;
}
.sep h5{
    margin:0;
    padding-top:30px;
}

/*
 * Responsive text aligning
 * http://ohryan.ca/2014/08/14/set-responsive-text-alignment-bootstrap-3/
 */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 762px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: 998px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}

.frame-xs-center {
  margin: 0 auto;
  display: block;
}

.frame-xs-normal {
    margin: 0 0 0 0;
    display: inline;
}

@media (min-width: 762px) {
    .frame-sm-center {
      margin: 0 auto;
      display: block;
    }
    .frame-sm-normal {
        margin: 0 0 0 0;
        display: inline;
    }
}

@media (min-width: 998px) {
    .frame-md-center {
      margin: 0 auto;
      display: block;
    }
    .frame-md-normal {
        margin: 0 0 0 0;
        display: inline;
    }
}

@media (min-width: 1200px) {
    .frame-lg-center {
      margin: 0 auto;
      display: block;
    }
    .frame-lg-normal {
        margin: 0 0 0 0;
        display: inline;
    }
}
