html, body {
    height: 100%;
    width: 100%;
    font-family: 'myFont'
}
/* font */
@font-face {
    font-family: 'myFont';
    src: url(expressway.ttf);
}

.para-section {
    padding: 50px 0;
    width: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.img-container {
    position:relative;
    padding-top:100%;
}

/* paralax definitions */
.top {
    background: url(../img/geometry_.jpg) no-repeat center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.top h3 {
    font-size: 30px;
    color: white;
}

.mid {
    background: url(../img/Blueprint-Background.jpg) no-repeat center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.mid h1 {
    color: white;
}

.sep {
    background: url(../img/White.png);
    position: relative;
    width: 100%;
}

