.center {
	display: flex;
	justify-content: center;
}

.align-baseline {
	display: flex;
	align-items: baseline;
}

.padding-bottom-10px {
	padding-bottom: 10px;
}

#learn-more-button {
	margin-left: 10px;
}

.faq-question {
	font-weight: bold;
}

.learn-more-text {
  font-family: 'RopaSansPro-Light';
  font-size: 1.4em;
}
