#info {
	text-align: left;
	min-height: 40%;
}

#info #title {
	font-family: 'RopaSansPro-Medium';
	font-size: 2.5em;
	padding: 40px;
	padding-bottom: 0px;
}

#info #content {
	font-family: 'RopaSansPro-Light';
	font-size: 1.3em;
	padding: 40px;
	padding-top: 25px;
}