.Sponsor {
	padding: 10px;
}

#sponsors {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 3vh auto 3vh auto;
}

#sponsors #deloitte {
	background-color: black;
}