.Home {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.Title {
	font-family: 'RopaSansPro-Light';
	font-size: 25px;
	text-align: left;
	margin-left: 10px;
}

#logo {
	height: 150px;
}

#bold {
	font-family: 'RopaSansPro-Medium';
}

#statistic {
	justify-content: center;
}