#contact {
	display: flex;
	flex-direction: column;
}

#contact #title {
	font-family: 'RopaSansPro-Medium';
	font-size: 2em;
	text-align: center;
	padding: 3vw;
	padding-bottom: 0vw;
}

#contact #info {
	background-color: black;
	color: white;
}

#contact #content {
	display: flex;
	justify-content: center;
	font-family: 'RopaSansPro-Light';
	font-size: 1.4em;
	padding: 25px;
	padding-top: 0px;
}

#contact #cards {
	max-width: 1000px;
	margin: 3vh auto 5vh auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#contact #email {
	max-width: 1000px;
	margin: 3vh auto 5vh auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#contact #cards .Card {
	margin: 5px 10px 5px 10px;
}

#contact #email .Modal {
	margin: 3vh auto 5vh auto;
}

.mailto {
	display:block;
	width:100px;
	height:20px;
}
